.lead__title {
  margin: 0 auto;
  width: 80%;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .lead__title {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .lead__title {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 760px) {
  .lead__title {
    font-size: 72px;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    font-size: 60px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    max-width: calc(100% - 16px * 2);
    font-size: 40px;
  }
}
